.userCardWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 480px;
  height: 400px;
  left: 0;
  -webkit-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
}

.userCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 400px;
  -webkit-box-shadow: -5px 5px 20px #9c14e65e;
          box-shadow: -5px 5px 20px #9c14e65e;
  border-radius: 10px;
}

.userpicWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.userpicWrapper img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.userpicWrapper .userpicSkeleton {
  width: 200px;
  height: 200px;
  -webkit-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.personalInfoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
  width: 100%;
}

.personalInfoWrapper .usernameSkeleton {
  margin: 8px;
  width: 60%;
  height: 30px;
  -webkit-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.personalInfoWrapper .personalInfoSkeleton {
  margin: 8px;
  width: 50%;
  height: 30px;
  -webkit-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.photoCardWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 600px;
  height: 400px;
  left: 0;
  -webkit-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

.photoCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  height: 400px;
  -webkit-box-shadow: -5px 5px 20px #9c14e65e;
          box-shadow: -5px 5px 20px #9c14e65e;
  border-radius: 10px;
  overflow: hidden;
}

.photoCard img {
  width: 600px;
}

@media (max-width: 375px) {
  .photoCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 340px;
    height: 400px;
    -webkit-box-shadow: -5px 5px 20px #9c14e65e;
            box-shadow: -5px 5px 20px #9c14e65e;
    border-radius: 10px;
  }
  .photoCard img {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}

.fullScreenCardWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  left: 0;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.fullScreenCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.fullScreenCard img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=Card.module.css.map */